*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.zip
*.rar
*.pdf
*.obj

/build/game_beta/
/build/game/
/build/webgl/
/build/standalone/
/Library/
/Temp/
/Obj/
/UnityGenerated/
/Content/
/ExportedObject/
/DllProject/
/.vs/
Desing/
ExternalLibs/
Assets/Scripts/Game/.VersionDetectFile
Assets/Plugins/ConsoleE/
Assets/GameDesign/
Assets/GameDesign.meta
Assets/Plugins/ConsoleE.meta
Assets/Chartboost/Examples/
*.csv#
cmdLineOptions.txt
*.upload_ftp_status_hook_wars
*.apk
build/winscp/log.txt
Assets/DebugUIGenerator/.svn/
Assets/Plugins/Framework/.svn/
Assets/Scripts/Framework/.svn/
Assets/Scenes/Framework/.svn/
Assets/Editor/Framework/.svn/
Assets/UnityVS/
Assets/AstarPathfindingProject/ExampleScenes/
Assets/Extensions/IOSNative/xExample/
Assets/Extensions/AndroidNative/xExample/
Assets/Plugins/AstarPathfindingProject/ExampleScenes/
/build/win/
Assets/Resources/Framework/.svn/
Assets/gmcs.rsp
Assets/gmcs.rsp.meta
Assets/smcs.rsp
Assets/smcs.rsp.meta
build/macos
build/ios_sim
Assets/FacebookSDK/Examples/
ArtSource/
build/extern_resources/Stikers
